article {
	width: 360px;
	height: 360px;
	padding: 50px;
	border-radius: 30px;
	background-color: whitesmoke;
	text-align: center;
	line-height: 1.5rem;
	white-space: pre-line;
}

.flex-container {
	display: flex;
	justify-content: space-around;
}

.text-center {
	text-align: center;
}

.text-end {
	text-align: end;
}
